.stats-container {
    width: 50%;
  background-color: black;
  border: 1px solid white;
box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.616);
  padding: 1rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

}

.stats-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
}

.stat-item {
  text-align: center;
}

.stat-label {
    font-size: 0.875rem;
  color: white;
  margin-bottom: 0.5rem;
  font-family: 'ChicagoFLF', sans-serif;  
  font-weight: 500;                   
  letter-spacing: 0.05em;  
}

.stat-value {
  font-size: 1.875rem;
  font-weight: 600;
  color: #374151;
}

.stat-minmax {
  font-size: 0.85rem;
  color: #bdbdbd;
  margin-top: 0.25rem;
  font-family: 'ChicagoFLF', sans-serif;
}



/* Mobile view - stack vertically */
@media (max-width: 768px) {
  .stats-grid {
    flex-direction: column;
    gap: 1.5rem;
  }
}
