#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: black;
  background-image: url('https://www.jueunjeon.design/jueunwebtype2020/project_2-3/1.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.25rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
  font-family: 'ChicagoFLF', sans-serif;
  flex-shrink: 0;
}