@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ChicagoFLF';
  src: url('./assets/ChicagoFLF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'ChicagoFLF', sans-serif;
}
